@import '../../styles/vars.less';

.workItemGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -(@basePadding / 3);
}

.container {
    display: flex;
    img {
        max-width: 470px;
    }
}
