@primaryColor: #4777ff;
// @primaryColor: #2350ce;
@darkColor: #00427F;
@black: #272E36;
@offBlack: #4B4F56;
@lightGrey: #8b939b;
@lightColor: #C4E2FF;
@white: #ffffff;
@offWhite: #f9f9f9;

@basePadding: 30px;
@sectionPadding: (@basePadding * 1.5) @basePadding;

@fontWeightLight: 400;
@fontWeightNormal: 500;
@fontWeightBold: 600;

// Layout Breakpoints
@breakPointL: 1200px;
@breakPointM: 1000px;
@breakPointS: 800px;
@breakPointXS: 500px;
@breakPointXXS: 400px;

// Font Sizes
@fontSizeL: 32px;
@fontSize: 18px;
@fontSizeS: 15px;

@fontFamilySansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@fontFamilySerif: Georgia,Cambria,"Times New Roman",Times,serif;

@profileBubbleSize: 170px;

@borderRadius: 3px;
@borderGrey: #DADEE1;

@overlayBackgroundColor: white;

@subduedText: grey;

@workItemDetailMaxWidth: 1024px;

@homePageMaxWidth: 940px;

@boxShadow: 0 20px 20px rgba(0,0,0,.07);
