@primaryColor: #46BEE1;
@darkColor: #1E5161;
@black: #161B1E;

@basePadding: 30px;

// Layout Breakpoints
@breakPointL: 1200px;
@breakPointM: 1000px;
@breakPointS: 800px;
@breakPointXS: 500px;
@breakPointXXS: 400px;

// Font Sizes
@baseFontSize: 24px;
@headingFontSize: 1.5em;
@labelFontSize: .6em;

@fontFamilySansSerif: sans-serif;
@fontFamilySerif: Athelas, serif;
