@import '../../styles/vars.less';
@import '../../styles/responsive-mixins.less';

.workItemGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -(@basePadding / 3);
}

.textImage {
    display: flex;
    align-items: flex-start;
    img {
        max-width: 40%;
        margin-left: 20px;
    }
    .widthMax(S, {
        flex-wrap: wrap;
        img {
            max-width: 100%;
            margin: 0;

        }
    });

    .widthMin(M, {
        // max-width: 100%;
        img {
        }
    })
}
