@import '../../styles/vars.less';
@import '../../styles/responsive-mixins.less';

/* Remove scroll on the body when react-modal is open */
:global(.ReactModal__Body--open) {
    overflow: hidden;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @overlayBackgroundColor;
    overflow-y: auto;
    display: flex;
    align-items: center;
    z-index: 900;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    opacity: 0;

    &:global(.ReactModal__Overlay) {
        &--after-open {
            opacity: 1;
        }
        &--before-close {
            opacity: 0;
        }
    }
}

.content {
    background-position-y: 100%;
    background-color: @white;
    position: relative;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: @borderRadius;
    border: 1px solid @borderGrey;
    -webkit-overflow-scrolling: touch;
    // padding: @modalPadding;
    flex-shrink: 1;

    // .widthMax(S, {
    //     padding: @modalPadding;
    // });

    // .widthMax(XXS, {
    //     padding: @modalPadding;
    // });

    &:focus {
        outline: none;
    }
}

.close {
    background: none;
    border: none;
    position: absolute;
    color: @white;
    top: @modalPadding;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    margin-left: -30px;

    &.right {
        right: (@modalPadding / 2);
    }
    img {
        vertical-align: sub;
        width: 20px;
        height: 20px;
        opacity: .7;
    }

    &:hover {
        img {
            opacity: 1;
        }
    }
}

.header {
    font-family: @fontFamilySansSerif;
    background-color: @primaryColor;
    color: @white;
    padding: @modalPadding;
    position: fixed;
    width: 100%;

    h1, h2 {
        display: inline-block;
    }
    h1 {
        font-weight: @fontWeightBold;
        margin-bottom: 0;
        font-size: @fontSizeL;
        margin-right: (@basePadding / 3);
    }
    h2 {
        font-size: @fontSize;
        font-weight: @fontWeightLight;
        margin: 0;
        opacity: 0.6;
    }

    .headerInner {
        max-width: @workItemDetailMaxWidth;
        margin: 0 auto;
    }
}

.innerContent {
    margin-top: 135px;
}
