@import '../../styles/vars.less';

.container {
    border: 0;
    background: none;
}

.image {
    @size: 60px;
    border-radius: 50%;
    height: @size;
    width: @size;
    background-color: grey;
    display: block;
    margin-bottom: (@basePadding * .25);
}
