@import '../../styles/vars.less';

.container {
    @size: 170px;
    border-radius: 50%;
    box-shadow: 0 2px 2px @black;
    background-color: grey;
    display: inline-block;
    height: @size;
    width: @size;
}
