@import '../../styles/vars.less';
@import '../../styles/responsive-mixins.less';

.container {
    padding: @basePadding;
}

.header {
    background-color: @primaryColor;
    padding: 0;
    color: @white;
    border-top: 10px solid darken(@primaryColor, 5);
}

.subHeading {
    max-width: 415px;
}

.bubbleContainer {
    position: relative;
    margin-top: (@basePadding * 2);
    margin-bottom: -@basePadding;
    .widthMax(S, {
        margin-top: 140px;
    });
    .greeting,
    img {
        position: absolute;
    }

    .greeting {
        font-family: @fontFamilySansSerif;
        right: 200px;
        font-size: @fontSizeS;
        text-transform: uppercase;
        margin-top: -3em;
    }
    img {
        right: 0;
        top: -140px;
    }
}

.emoji {
    font-size: 18px;
}
