@import '../../styles/vars.less';
@import '../../styles/responsive-mixins.less';
.introSection {
    position: relative;

    h1.mainTitle {
        margin-bottom: 0;
    }

    h2.role {
        margin: 0;
        margin-bottom: @basePadding;
        color: @subduedText;
        text-transform: none;
        font-weight: @fontWeightNormal;
    }
}

.section {
    iframe {
        max-width: 100%;
    }


    h1, h2 {
        flex-basis: 100%;
    }

    h1 {
        margin: 0;
        font-family: @fontFamilySansSerif;
    }

    h2 {
        font-size: @fontSize;
        text-transform: uppercase;
        font-family: @fontFamilySansSerif;
        margin: 0;
        color: @primaryColor;

        // &:not(:first-child) {
        //     margin-top: @basePadding;
        // }

        & + p,
        & + ul, {
            margin-top: (@basePadding / 3);
        }

        &.toolsHeader {
            margin-bottom: (@basePadding);
        }
    }

    .detailBody {
        display: flex;
        & > p,
        & > ul, {
            margin-top: (@basePadding / 3);
        }

        .widthMax(M, {
            flex-wrap: wrap;
        });
    }

}

.jobArt {
    max-width: 270px;
}

.jobDetails {
    display: flex;
    flex-wrap: nowrap;
    .widthMax(S, {
       flex-wrap: wrap;
    });
}

.back {
    background: none;
    border: none;
    top: @basePadding;
    font-size: 15px;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    opacity: .4;
    position: absolute;
    top: 20px;
    margin-left: -(@basePadding);

    img {
        vertical-align: text-bottom;
        width: 15px;
        height: 15px;
    }

    &:hover {
        opacity: 1;
    }
}
.toolsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    img {
        padding: .5rem 1rem;
    }
}
