@import '../../styles/vars.less';

.inner {
    display: flex;
    justify-content: space-between;
    padding-top: @basePadding * 3;
    &, a {
        font-family: @fontFamilySansSerif;
        font-size: @fontSizeS;
        color: @subduedText;
    }
    a {
        padding: 5px;
        opacity: 0.3;
        &:hover {
            opacity: 0.5;
        }
    }

    img {
        width: 15px;
        &:first-child {
            margin-right: 10px;
        }

    }
}
