@import './styles/vars.less';

body {
  margin: 0;
  padding: 0;
  font-family: @fontFamilySerif;
  font-size: @baseFontSize;
  color: @black;
}

p {
  line-height: 1.75;
  letter-spacing: -.003em;
}
