@import './styles/vars.less';
@import './styles/responsive-mixins.less';

body {
  margin: 0;
  padding: 0;
  font-family: @fontFamilySansSerif;
  font-size: @fontSize;
  color: @black;
}

main {
  margin-top: 80px;
}

p, ul {
  line-height: 1.75;
  letter-spacing: -.003em;
  // font-family: @fontFamilySerif;
  max-width: 640px;
}


h1, h2, h3 {
  line-height: 1.5;
  font-weight: @fontWeightBold;
}

h1 {
  font-size: @fontSizeL;
  .widthMax(XS, {
      font-size: (@fontSizeL * .8);
  });
}
