@import '../../styles/vars.less';
@import '../../styles/responsive-mixins.less';

.workItemGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -(@basePadding / 3);
}

.container {
    img {
        max-width: 470px;
    }
}

.intro {
    display: flex;
    img {
        margin-left: 20px;
    }
    .widthMax(S, {
        flex-wrap: wrap;
        img {
            margin: 0 auto;
        }
    });
}
